body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-kannada-mn: "Kannada MN";
    --font-karma:"Karma-Light.ttf";
  
    /* font sizes */
    --font-size-xl: 20px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-whitesmoke: #ececec;
  }

  @font-face {
    font-family:"Karma Light";
    src: url(font/Karma-Light);
  }

  @font-face {
    font-family: var(--font-karma);
    src: url(font/Karma-Bold);
    font-weight: 700;
  }

  
  