
.frame2 {
    margin: 0;
    width: 248px;
    height: 90px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 0px;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}


.frame1 {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.frame {
    position: absolute;
    top: 650px;
    left: 150px;
    width: 1128px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: 36px;
    color: #000;
    font-family:'Kannada MN';
    
}
.dscf1324-1-2-1-1 {
    position:relative;
    width: 100%;
    height: 520px;
    object-fit: cover;
    
}



.frame-child {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 100%;
    height: 77px;
}
.ko {
    position: absolute;
    top: 30px;
    left: 88px;
    font-size: 28px;
    color: lightskyblue;
    display: inline-block;
    width: 124px;
    height: 66px;
}

.home {
    text-decoration: none;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 39px;
    left: 570px;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    width: 106px;
    height: 23px;
}

.home:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
    color:lightskyblue;
}


@keyframes  shadow-drop-bottom {
    0% {
          box-shadow: 0 0 0 0 transparent;
    }
    100% {
          box-shadow: 0 12px 20px -12px rgb(0 0 0 / 35%);
    }
}
.services {
    text-decoration: none;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 39px;
    left: 651px;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    width: 106px;
    height: 23px;
}
.services:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
    color:lightskyblue;
}
.portfolio1 {
    text-decoration: none;
    position: absolute;
    top: 39px;
    left: 757px;
    color: inherit;
    display: inline-block;
    width: 106px;
    height: 23px;
}
.portfolio1:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
    color:lightskyblue;
}
.contact {
    text-decoration: none;
    position: absolute;
    top: 39px;
    left: 873px;
    color: inherit;
    display: inline-block;
    width: 106px;
    height: 23px;
}
.contact:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
    color:lightskyblue;
    
}
.karen-olaya {

    margin: 0;
    position: absolute;
    top: 151px;
    left: 123px;
    font-size: 96px;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    width: 617px;
    height: 121px;
}


.marketing-specialis {
    margin: 0;
    position: absolute;
    top:280px;
    left: 130px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Kannada MN';
    color: #fff;
    text-align: left;
    display: inline-block;
    width: 400px;
    height: 47px;
}

.bi-bi-linkedin {
    position: relative;
    top: 80%;
    width: 180%;
    height: 20px;
    color: white;
   
    }


.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 34px;
    width: 168px;
    height: 47px;
    background-color: lightskyblue;
}
.download-resume {
    position: absolute;
    top: 14px;
    left: 25px;
    display: inline-block;
    width: 142px;
        height: 33px;}

.rectangle-parent {
    position: absolute;
    top: 450px;
    left: 154px;
    width: 168px;
    height: 47px;
    font-size: 15px;
    color: #000;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.rectangle-parent:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
    color: white;
    box-shadow: 20px 20px 20px #D8D8D8;
}

.rectangle-parent:hover{

    transform: translateY(-10px);
}


.frame4 {
    align-self: stretch;
    position: relative;
    height: 795px;
    overflow: hidden;
    flex-shrink: 0;
    text-align: left;
    font-size: 20px;
    color: white;
    font-family: 'Kannada MN';
    
}
.frame3 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1428px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}


