body {
  margin: 50px auto;
  padding: 0;
  box-sizing: border-box;
  width: 800px;
  border: 2px solid blue;
}

header {
  background-color: #0E57CD;
  padding: 10px;
}

header h1{
  font-weight: normal;
}

header h1 a {
  text-decoration: none;
  color: #20BAEE;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

h1 a:hover {
color: white;

}

nav {
  background-color: #0E57CD;
  box-shadow: 3px 3px 3px #444;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}

nav ul li {
  padding: 10px;
  color: white;
  font-size: 20px;
  width: 160px;
  height: 30px;
  background-color: #163AC9;
}

nav ul li a {
  text-decoration: none;
  color: #20BAEE;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

nav ul li a:hover {
  color: white;
}

main {
  display: grid;
}

.wrapper1 {
  grid-template-columns: 1fr 2fr;
}

.wrapper2 {
  grid-template-columns: 2fr 1fr;
}

.wrapper2 img {
border: solid 1px blue;


}

.wrapper3 {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 20px;
}

.grid1 {
  background-color: lightblue;
  padding: 0 30px;
  font-weight:bold;
  margin: 0 20px 0 0;
  text-align: justify;
 
  
}

.grid2 {
  margin: 0 20px 0 20px;
}

.grida {
  background-color: lightblue;
  padding: 0 30px;
  font-weight:normal;
  
}

.gridb {
  background-color: white;
  padding: 0 30px;
  font-weight:normal;
  margin-right: 20px
}

.heading {
  border-bottom: 2px solid blue;
  color:#163AC9;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.red a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.grid2 img{
  float: left;
  margin-right: 20px;
  border: 2px solid blue;
}
.gridb img {
  float: right;
  margin-right: 20px;

}

footer {
  background-color: rgb(144, 38, 38);
  color: #fff;
  border: 1px solid blue;
}

.page2{

  color: #163AC9;
  border-bottom:solid 2px blue;
  
}

.justify{

  color: black;
  font-weight: bold;
  text-align: justify;
}