h1 {

  color:red;
}

h2{

  color:purple;
  background-color:aqua;
}


h3{

  color:blue;
  background-color: yellow;
}

.pipe{

  color:white;
  background-color:navy;
}

p {

  color:black;
  background-color: aquamarine;
}

/*
h5{

  color:blueviolet;
}
*/

#angie{

  color:orange;
}

.red{

  color:brown;
}
  
.finale{
  color:red;
  background-color: lightskyblue;
}

.rosa{

  color:lightpink
}

.theend{

  color:darkgreen;
  background-color: white;
}

a {
  color: red;
}



a:visited {
  color: green;
}


a:hover {
  color: #ffff00;
}  